.card{
   
    width: 200;
    height: 200;
    border-radius:15px ;
    background-color: rgba(205, 179, 8, 0.636);  
    color: rgb(52, 101, 175);
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ;
}
.card:hover{
    transform: scale(1.05);
}



.img{
    height: 200px;
    width: 200px;
}
.name{
    color: black;
}
.types{
    margin-bottom: 12px;
    color: black;
    
}
