.card{
   
    width: 200;
    height: 200;
    border-radius:15px ;
    background-color: rgb(205, 180, 8);  
    text-decoration: none;
}



.img{
    height: 200px;
    width: 200px;
}
.name{
    color: black;
}
.types{
    margin-bottom: 12px;
    color: black;
}